<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.ackeecz.ass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:requestLegacyExternalStorage="true">

        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/ass_feedback_activity_label" />

        <activity android:name=".activity.EditActivity" />

        <provider
            android:name=".ScreenshotFileProvider"
            android:authorities="${applicationId}.io.github.ackeecz.ass.screenshots"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>
